<template name="postItem">
	<paper-shadow class="post">
		{{#if upvoted}}
		<core-tooltip label="Please login to like the post." position="right">
			<paper-icon-button class="upvote btn-default disabled" icon="thumb-up"
																													disabled></paper-icon-button>
		</core-tooltip>
		{{else}}
		<paper-icon-button class="upvote btn-default" icon="thumb-up"></paper-icon-button>
		{{/if}}
		<div class="post-content">
			<h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
			<p>
			{{pluralize votes "Vote"}},
			submitted by {{author}},
			<a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
			{{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
			</p>
		</div>
		<a href="{{pathFor 'postPage'}}"><paper-button class="discuss btn-default"
																								 raised>Discuss</paper-button></a>
	</paper-shadow>
</template>
